In [1]:
#Problem 1
import pandas as pd
import numpy as np

#1
data = {'Name':['Alice','Bob','Caro','David'],'Age':[19,21,20,22],'Midterm_1':[100,85,90,77],'Midterm_2':[80,99,85,75]}
df = pd.DataFrame(data,index=[1,2,3,4],columns=['Name','Age','Midterm_1','Midterm_2'])
#2
df['Average'] = (df['Midterm_1'] + df['Midterm_2'])/2

#3
df['Major'] = ['IT',np.nan,'Mathematics','IT']
df

#4
df.index = df.Name
del df['Name']
df

       Age  Midterm_1  Midterm_2  Average        Major
Name
Alice   19        100         80     90.0           IT
Bob     21         85         99     92.0          NaN
Caro    20         90         85     87.5  Mathematics
David   22         77         75     76.0           IT

In [9]:
# Problem 2
df2 = pd.DataFrame(np.random.randn(5,5))
print(df2,end='\n\n')

#1
print("The sum of all the positive values:",df2[df2 > 0].fillna(0).values.sum())
print("The sum of all the negative values:",df2[df2 < 0].fillna(0).values.sum(),end='\n\n')

#2
print("Rows that meet the requirement:")
print(df2[(np.abs(df2) > 1.8).any(1)])

#3
print("After dropping the 3rd row:")
print(df2.drop(2))
print("After dropping the 2nd column:")
print(df2.drop(1,axis=1))

          0         1         2         3         4
0  0.313287  0.155650  0.217391  1.116874 -1.413816
1 -0.879660 -0.238374 -1.121487  1.367004 -0.036304
2 -0.527159 -0.676517  0.294578  0.391215  0.899862
3  0.248890 -0.286427 -0.506604  2.290864  1.104126
4  0.180791  0.388549  0.187766  0.838038  0.433370

The sum of all the positive values: 10.428254569925768
The sum of all the negative values: -5.686349004521035

Rows that meet the requirement:
         0         1         2         3         4
3  0.24889 -0.286427 -0.506604  2.290864  1.104126
After dropping the 3rd row:
          0         1         2         3         4
0  0.313287  0.155650  0.217391  1.116874 -1.413816
1 -0.879660 -0.238374 -1.121487  1.367004 -0.036304
3  0.248890 -0.286427 -0.506604  2.290864  1.104126
4  0.180791  0.388549  0.187766  0.838038  0.433370
After dropping the 2nd column:
          0         2         3         4
0  0.313287  0.217391  1.116874 -1.413816
1 -0.879660 -1.121487  1.367004 -0.036304
2 -0.527159  0.294578  0.391215  0.899862
3  0.248890 -0.506604  2.290864  1.104126
4  0.180791  0.187766  0.838038  0.433370