#IT 166 Lab 10

In this lab, we will analyze Apple's stock price based on a dataset from a CSV file. 

Objectives
* Be able to load data into a Pandas DataFrame from a CSV file
* Be able to apply pandas mathematical and statistical methods to analyze the data in a DataFrame

Preparation
* Launch the Jupyter notebook.
* Rename the notebook page as “lab10”.

##0. Make sure the CSV file (AAPL.csv) is on the current working directory.

In [ ]:
import os
os.getcwd()

'/content/drive/MyDrive/Colab Notebooks/IT166'

In [ ]:
#Mount drive if needed
from google.colab import drive
drive.mount('/content/drive')
import os
os.chdir("/content/drive/My Drive/Colab Notebooks/IT166")

Mounted at /content/drive

##1. Load data from AAPL.csv to a pandas dataframe. Display the first three rows.

In [ ]:
import pandas as pd

df = pd.read_csv('AAPL.csv')
df.head(3)

,Date,High,Low,Open,Close,Volume,Adj Close
0,2017-04-11,35.837502,35.014999,35.735001,35.407501,121517600.0,33.430336
1,2017-04-12,35.537498,35.252499,35.400002,35.450001,81400000.0,33.470470
2,2017-04-13,35.595001,35.262501,35.477501,35.262501,71291600.0,33.293446

##2. Change the index to the column "Date"

In [ ]:
#Method 1: Change index
df.index = df["Date"]
df

In [ ]:
#Method 2: Change index
df = pd.read_csv('AAPL.csv', index_col = "Date")
df

##3. For each year contained in the index, create a separate dataframe. For example, create a dataframe df_2017 to contain all stock prices in 2017; and the same for 2018, 2019, 2020, 2021, 2022.

In [ ]:
df_2017 = df[df.index.str.contains("2017")]
df_2017

                 High        Low       Open      Close       Volume  Adj Close
Date
2017-04-11  35.837502  35.014999  35.735001  35.407501  121517600.0  33.430336
2017-04-12  35.537498  35.252499  35.400002  35.450001   81400000.0  33.470470
2017-04-13  35.595001  35.262501  35.477501  35.262501   71291600.0  33.293446
2017-04-17  35.470001  35.217499  35.369999  35.457500   66328400.0  33.477554
2017-04-18  35.509998  35.277500  35.352501  35.299999   58790000.0  33.328854
...               ...        ...        ...        ...          ...        ...
2017-12-22  43.855000  43.625000  43.669998  43.752499   65397600.0  41.792454
2017-12-26  42.867500  42.419998  42.700001  42.642502  132742000.0  40.732174
2017-12-27  42.695000  42.427502  42.525002  42.650002   85992800.0  40.739349
2017-12-28  42.962502  42.619999  42.750000  42.770000   65920800.0  40.853970
2017-12-29  42.647499  42.305000  42.630001  42.307499  103999600.0  40.412193

[183 rows x 6 columns]

In [ ]:
df_2022 = df[df.index.str.contains("2022")]
df_2022

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-01-03,182.880005,177.710007,177.830002,182.009995,104487900.0,181.778397
2022-01-04,182.940002,179.119995,182.630005,179.699997,99310400.0,179.471344
2022-01-05,180.169998,174.639999,179.610001,174.919998,94537600.0,174.697418
2022-01-06,175.300003,171.639999,172.699997,172.000000,96904000.0,171.781143
2022-01-07,174.139999,171.029999,172.889999,172.169998,86709100.0,171.950928
...,...,...,...,...,...,...
2022-04-04,178.490005,174.440002,174.570007,178.440002,76468400.0,178.440002
2022-04-05,178.300003,174.419998,177.500000,175.059998,73401800.0,175.059998
2022-04-06,173.630005,170.130005,172.360001,171.830002,89058800.0,171.830002
2022-04-07,173.360001,169.850006,171.160004,172.139999,77594700.0,172.139999
2022-04-08,171.779999,169.199997,171.779999,170.089996,76515900.0,170.089996

##4. Find the correlation between the daily highest and lowest stock prices.

In [ ]:
df["High"].corr(df["Low"])

0.9996845921784067

##5. Find the correlation between each pair of columns.

In [ ]:
df.corr()

               High       Low      Open     Close    Volume  Adj Close
High       1.000000  0.999685  0.999802  0.999749 -0.189611   0.999734
Low        0.999685  1.000000  0.999742  0.999744 -0.205282   0.999723
Open       0.999802  0.999742  1.000000  0.999492 -0.196453   0.999470
Close      0.999749  0.999744  0.999492  1.000000 -0.197918   0.999979
Volume    -0.189611 -0.205282 -0.196453 -0.197918  1.000000  -0.197455
Adj Close  0.999734  0.999723  0.999470  0.999979 -0.197455   1.000000

##6. Find the mean, highest, lowest values for each column.

In [ ]:
df.mean()

High         8.289997e+01
Low          8.109602e+01
Open         8.197837e+01
Close        8.204387e+01
Volume       1.202720e+08
Adj Close    8.086872e+01
dtype: float64

In [ ]:
df.max()

High         1.829400e+02
Low          1.791200e+02
Open         1.826300e+02
Close        1.820100e+02
Volume       4.265100e+08
Adj Close    1.817784e+02
dtype: float64

In [ ]:
df.min()

High         3.547000e+01
Low          3.501500e+01
Open         3.530500e+01
Close        3.517000e+01
Volume       4.100000e+07
Adj Close    3.320611e+01
dtype: float64

##7. Find which days the highest and the lowest values occurred.

In [ ]:
df.idxmin()

High         2017-04-17
Low          2017-04-11
Open         2017-04-20
Close        2017-04-19
Volume       2021-11-11
Adj Close    2017-04-19
dtype: object

In [ ]:
df.idxmax()

High         2022-01-04
Low          2022-01-04
Open         2022-01-04
Close        2022-01-03
Volume       2020-02-28
Adj Close    2022-01-03
dtype: object